{% extends "base.html" %}

{% block content %}
<h1 class="text-center my-5 font-weight-bold text-dark">Актори:</h1>
<div class="container mt-5">
    <div class="row g-4">
        {% for actor in actors %}
            <div class="col-md-4 mb-4">
                <div class="card shadow-sm border-light">
                    <img src="{{ url_for('static', filename=actor[3]) }}" class="card-img-top" alt="{{ actor[1] }}" style="width: 100%; height: auto; object-fit: cover;">
                    <div class="card-body">
                        <h5 class="card-title">{{ actor[1] }}</h5>
                        <p class="card-text"><strong>Повне ім'я:</strong> {{ actor[2] }}</p>
                        <p class="card-text"><strong>Дата народження:</strong> {{ actor[4] }}</p>
                        <p class="card-text"><strong>Місце народження:</strong> {{ actor[5] }}</p>
                        <p class="card-text"><strong>Найпопулярніші фільми і серіали:</strong> {{ actor[6] }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
