{% extends "base.html" %}

{% block content %}

<p>Головна сторінка</p>
<h1>Топ-10 фільмів за рейтингом IMDb</h1>



{% for composition in compositions %}

<div class="container p-5 my-5 border">
        <h2>{{ composition[0] }}</h2>
        <img src="{{ url_for('static', filename= composition[1]) }}" class="float-start" width="150" height="230" >
        <h3>{{ composition[2] }}</h3>
        <h5 class=text-secondary">{{ composition[3] }}</h5>
        <a href="/composition/{{composition[0]}}" >детальніше про фільм</a>
    </div>
{% endfor %}
{% endblock %}


